[Unit]
Description=Tunnel to expose node exporter metrics
After=network.target

[Service]
User=root
Group=root
WorkingDirectory=/root
ExecStart=/usr/local/bin/ngrok_custom_start 9100 /home/vagrant/.config/ngrok/ngrok.yml

[Install]
WantedBy=multi-user.target
