[Unit]
Description=uWSGI instance to serve gector-api
After=network.target

[Service]
User=www-data
Group=www-data
WorkingDirectory=/var/www/gector-api
Environment="PATH=/var/www/gector-api/.venv/bin"
ExecStart=/var/www/gector-api/.venv/bin/uwsgi --ini gector-api.ini
