[Unit]
Description=Tunnel to expose node-exporter metrics
After=network.target

[Service]
User=vagrant
Group=vagrant
WorkingDirectory=/home/vagrant
ExecStart=/usr/local/bin/pagekite 9100 node.gecapitest.pagekite.me

[Install]
WantedBy=multi-user.target
